body {
    margin: 0;
    padding: 0;
}

.facebook-feed-refresh .main-transition-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.facebook-feed-refresh .main-transition-enter.example-enter-active {
    opacity: 1;
}

.facebook-feed-refresh {
    height: 100%;   
    font-family: helvetica, arial, 'lucida grande', sans-serif;
    margin: 0;
    font-size: 16px;
    background-color: #e9eaed;
}

.facebook-feed-refresh ul {
    margin: 0;
    padding: 0;
}

.facebook-feed-refresh .fb-header,
.facebook-feed-refresh .fb-footer {
    position: fixed;
    width: 100%;
}

.facebook-feed-refresh .fb-header {
    top: 0;
    z-index: 2;
    background: url(../images/header.png) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 15.5%;
}

.facebook-feed-refresh .fb-footer {
    bottom: 0;
}

.facebook-feed-refresh .right-sidebar {  
    width: 26%;
    position: absolute;
    top: 8%;
    right: 2%; 
    display: none;   
}

.facebook-feed-refresh .status-bar {
    width: 55%;
    margin-top: 6%;
    margin-left: 10%;
    display: none; 
}


/*-- Media Queries --*/

/* iPhone 4, 4S */ 
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .facebook-feed-refresh {
        width: 320px;
    }

    .facebook-feed-refresh .fb-header {
        height: 19%;
    }
}

/* 5 and 5S: */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .facebook-feed-refresh {
        width: 320px;
    }
}

/* iPhone 6: */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px)  {
    .facebook-feed-refresh {
        width: 375px;
    }
}

/* iPhone 6 Plus: */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
    .facebook-feed-refresh {
        width: 414px;
    }
}

/* iPad 3, 4: */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .facebook-feed-refresh {
        width: 1024px;
    }

    .facebook-feed-refresh .fb-header {
        background: url(../images/header-iPad.png) no-repeat;
        background-size: 100%;
        height: 6%;

    }

    .facebook-feed-refresh .fb-footer {
        display: none;
    }

    .facebook-feed-refresh .right-sidebar {
        display: inline;
    }

    .facebook-feed-refresh .status-bar {
        display: inline;
    }
}
